* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* scroll-snap-type: y mandatory; */
}

.fix-overflow {
    overflow-x: hidden;
}

.carousel-container {    
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(to left, #b490ca 0%, #5ee7df 100%);
    /* scroll-snap-align: start; */
}

header {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding: 20px;
    align-items: center;
    z-index: 2;
}

header h1 {
    font-size: 40px;
    margin-right: 50px; 
    font-weight: normal;
}

#ig img {
    width: 40px;
}

.letter-title {display: none;}
.half-title {display: none;}
.half-adventure-title{display: none;}

.carousel-slide {
    text-align: center;
    width: 100%;
}

.arrow {
    cursor: pointer;
    position: absolute;
    height: 60px;
    width: 80px;
    z-index: 2;
}

#arrow-left {
    top: 45%;
    border-radius: 0 5px 5px 0;
}

#arrow-right {
    top: 45%;
    right: 0;
    border-radius: 5px 0 0 5px;
}

#arrow-down {
    left: 0%;
    bottom: 0px;
    display: inline-block;
    border-radius: 0px 5px 0 0;
}

#arrow-left:hover {
    background-color: #b490ca;
}

#arrow-right:hover {
    background-color: #5ee7df;
}

#arrow-down:hover {
    background-color: #b490ca;
}

i {
    display: inline-block;
    padding-top: 16px;
    color: white;
}

.slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0 auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 1}
}

#photo1 {background-image: url("images/Marshall1.png");}

#photo2 {background-image: url("images/Marshall4.png");}

#photo3 {background-image: url("images/Marshall5.png");}

.grid-third {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    background-color: #5ee7df;
}

.no-background{
    width: 100%;
    margin: 0px auto 0px auto;
    text-align: justify;
    padding: 20px;
}

.no-background p {
    margin-bottom: 10px;
    font-size: 18px;
}

.description{
    height: 100vh;
    background-color: #5ee7df;
    overflow-y: auto;
    position: relative;
    transform: translateX(-150%);
    transition: 1s ease-out;
}

.mapdiv {
    transform: translateX(150%);
    transition: 1s ease-out;
}

.slidein {  /*Used to slide the description and map in on scroll*/
    transform: translateX(0%);
}

a:visited, a:link {
    color: black;
}

#map {
    height: 100vh;
    width: 100%;
    /* scroll-snap-align: start; */
}

.map-info-window {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.map-info-window h3 {
    margin-bottom: 10px;
}

.map-info-window img {
    width: 100%;
    max-width: 500px;
}

.bottom{
    min-height: calc(100vh - 63px);
    background-image: linear-gradient(to top, #b490ca 30%, #5ee7df 100%);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* scroll-snap-align: start; */
}

#christmas h2{
    text-align: center;
    font-weight: normal;
}

form {
    margin-top: 20px;
}

.formerror {
    text-align: center;
    color: red;
}

.form-row {
    padding: 3px;
}

.form-label {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
    font-size: 18px;
}

.form-input {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.submit-button {
    text-align: center;
    margin-top: 10px;
}

.donations{
    display: flex;
    justify-content: space-evenly;
}

.donate {
    width: 200px;
    overflow-wrap: break-word;
}

.donate h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
}

.donate p {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    background-color: black;
    color: white;
    line-height: 50px;
    padding: 0 30px;
    /* scroll-snap-align: end; */
}

@media only screen and (max-width: 921px) {
    .letter-title{display: none;}  
    .half-title {display: block;}
    .full-title {display: none;}
    .grid-third {
        display: block;
        height: auto;
    }
    .description {
        height: auto;
    }
}

@media only screen and (max-width: 640px) {
    .donations {
        display: block;
        padding: 0px;
    }
    .donate {
        margin: 30px auto;
    }
  }

@media only screen and (max-width: 541px) {
    .letter-title{
        display: block;
        text-align: right;
    }    
    .half-title {display: none;}
    .full-title {display: none;} 
    header {justify-content: space-between;}
}