* {
    margin: 0px;
    padding: 0px
}

nav, main {
    display: block;
}

/* html, body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
} */

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto 0px auto;
}

.photo {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

#photo1 {background-image: url("images/Marshall1.jpg");}

#photo2 {background-image: url("images/Marshall5.jpg");}

#photo3 {background-image: url("images/Marshall4.jpg");}

header {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

/* #photo1 h1, #photo3 h1 { */
header h1 {
    font-size: 50px;
    margin-top: -10px;
    margin-right: 50px; 
    font-weight: normal;
}

#ig img {
    margin-left: 20px;
    width: 40px;
}

#letter-title {display: none;}
#half-title {display: none;}
#half-adventure-title{display: none;}

.no-background{
    max-width: 800px;
    width: 97%;
    margin: 30px auto 30px auto;
    text-align: justify;
}

.no-background p {
    margin-bottom: 10px;
}

#christmas h2{
    text-align: center;
    font-weight: normal;
}

form {
    margin-top: 20px;
}

#formerror {
    text-align: center;
    color: red;
}

.form-row {
    padding: 3px;
}

.form-label {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
}

.form-input {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.submit-button {
    text-align: center;
    margin-top: 10px;
}

.map-title {
    margin-top: 30px;
}

.map-title h1 {
    font-weight: normal;
    font-size: 30px;
    text-align: right;
    padding-right: 30px;
} 

#map {
    height: 600px;
    width: 100%;
}

.donations{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.donate {
    width: 200px;
    overflow-wrap: break-word;
}

.donate h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    /* font-size: 1.17em; */
}

#ch {
    padding-left: 20px; 
    font-size: 30px;
}

@media only screen and (max-width: 640px) {
    .donations {
        display: block;
    }
    .donate {
        margin: 50px auto;
    }
  }

  @media only screen and (max-width: 798px) {
    #letter-title{display: none;}  
    #half-title {display: block;}
    #full-title {display: none;}
    #half-adventure-title{display: block;}

  @media only screen and (max-width: 541px) {
    #letter-title{
        display: block;
        text-align: right;
    }    
    #half-title {display: none;}
    #full-title {display: none;}
    #half-adventure-title{display: block;}    
    header {
        justify-content: space-between;
    }
  }

  #christmascardmessage {
      padding: 5px;
      font-size: 40px;
      background-color: brown;
  }